@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.hero {
  background-image: url('../images/cow.jpg');
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 49% 100%, 49% 100%, 0% 60%, 0 0);

}
.hero h1 {
  color: azure;
  font-size: 100px;
  text-align: center;
  font-weight: 900;
  padding-top: 20px;
}

.article, #cow-type {
  width: 80%;
  margin: 60px auto;
  padding: 20px;
}
.article h2, #cow-type h2 {
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
}
.cow-images {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.cow-images div {
  max-width: 300px;
}
.cow-images img {
  width: 100%;
}